<div class="row">
	<div class="show_movie_image">
		<%= image_tag @movie.movie_image.to_s %>
		Name: <%= @movie.name %>
	</div>
	Discription: <%= @movie.discription %><br>
</div>
<div class="actors">
	Actors: <% @actors.each do |actor| %>
				<%= actor.name  %>:(<%= (actor.age) %> year)<br>
				<% actor.awards.each do |award| %>
				<%= award.name %>
				<% end %>
			<% end %>
</div>
<div>
	Director: <%= @director.name %>
	<% @director.awards.each do |award| %>
	<%= award.name %>
	<% end %>
</div>
<div>
	Awards: <% @movie.awards.each do |award| %>
	 <%= award.name %>
	<% end %>
</div>

