<!DOCTYPE html>
<html>
  <head>
    <title>RobustaAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Robusta studio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/watchlists">Watchlist</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
      <%= form_with(url: "/movies_search/search", method: "get", class: 'form-inline my-2 my-lg-0') do %>
        <%= text_field_tag 'search',nil ,  class: "form-control mr-sm-2" %>
        <%= submit_tag('search', class: "btn btn-outline-success my-2 my-sm-0") %>
        <% end %>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>

